body, html {
  height: 100vh;
  text-align: center;
  font-family: sans-serif;
  background-image: -webkit-linear-gradient(bottom, #fddb92 0%, #d1fdff 100%);
  background-image: -o-linear-gradient(bottom, #fddb92 0%, #d1fdff 100%);
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  color: lawngreen;
  overflow: hidden;
}

.headerSection {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 50px;
  display: inline-block;
  vertical-align: middle;

}

#logo {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.level {
  margin-bottom: 15px;
}

.easyLevel, .intermediateLevel, .difficultLevel {
  display: inline-block;
  margin-top: 0;
  font-size: 20px;
  color: white;
  padding: 4px;
  border-radius: 4px;
}


.easyLevel:hover, .intermediateLevel:hover, .difficultLevel:hover {
  display: inline-block;
  margin-top: 0;
  font-size: 25px;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;

}

.easyLevel {
  background-color: lime;
}

.intermediateLevel {
   background-color: orange;
}

.difficultLevel {
   background-color: red;
}
